* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial;
}

body {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: auto;
  justify-content: center;
  align-items: center;
  background: rgba(127, 127, 127, 0.3);
  backdrop-filter: blur(10px);
}

p {
  margin-top: 12px;
}

label, input {
  padding: 5px;
}

.container {
  display: flex;
  background: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  width: 32rem;
  height: 16rem;
  justify-content: center;
  align-items: center;
}

.formulario,
.grau-lista {
  padding: 1rem;
}

.formulario,
.formulario-corpo {
  display: flex;
  flex-direction: column;
}

.btn-calcular {
  margin-top: 5px;
  padding: 5px 20px;
  border: 1px solid #ccc;
  border-radius: 1px;
}